# =====================================
# C Build Files
# =====================================

*.o
*.obj
*.out
*.exe
*.dll
*.a
*.so

# =====================================
# Build Directories
# =====================================

build/
bin/
Debug/
Release/

# =====================================
# VS Code
# =====================================

.vscode/

# =====================================
# Visual Studio
# =====================================

.vs/

# =====================================
# Python
# =====================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================
# Jupyter
# =====================================

.ipynb_checkpoints/

# =====================================
# ML Models
# =====================================

*.pkl

# =====================================
# Generated Logs
# =====================================

ecu_log.csv

# =====================================
# FreeRTOS Experimental Folder
# =====================================

freertos/

# =====================================
# Temporary Files
# =====================================

*.log
*.tmp

# =====================================
# OS Files
# =====================================

Thumbs.db
.DS_Store